body{
    margin: 0;
    padding: 0;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
}
.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;
    margin: auto;
}
#profile pre{
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
   
}
.left{
    width: 52%;
    border-right: 3px solid black;
    
}
.right{
    width: 47%;
}
h2{
    text-transform: uppercase;
    color:#001c55 ;
    border-bottom: 3px solid black;
}
header{
    color:#00072d ;
    margin-left: 1rem;
    font-family: "Montserrat", serif;;
}
h1{
    font-size: 2.5em;
    font-family: "Montserrat", serif;;
}
section{
    line-height: 2rem;
}
@media (max-width: 1022px){
    .container{
        flex-direction: column;
    } .left .right{
        width: 100%;
    } .left{
        border-right: none;
    } header {
     text-align: center;
    }

}